:root {
    /* Green */
    --green: #54e6af;

    /* Blue */
    --blue-950: #121725;
    --blue-900: #2c344b;
    --blue-600: #5a668a;
    --blue-300: #c2cbe5;

    /* White */
    --white: #fff;

    /* Red */
    --red: #fb3e3e;
}

/* General config */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Chivo", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-950);
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    body {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    body {
        align-items: center;
    }
}

a {
    text-decoration: none;
}

/* Typography */
.text-present-1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.text-present-2 {
    font-size: 18px;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 0px;
}

.text-present-3-bold {
    font-size: 14px;
    font-weight: bold;
    line-height: 200%;
    letter-spacing: 0;
}

/* Button */
.button {
    width: 100%;
    padding: 8px 32px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    color: var(--blue-950);
    transition: background-color .5s ease-in-out;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #54e6ae80;
}

/* Input */
.input-email {
    width: 100%;
    padding: 8px 28px;
    border-radius: 999px;
    border: none;
    background-color: var(--blue-900);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .button {
        max-width: 172px;
    }
}

/* Container */
.container {
    width: 100%;
    height: 100%;
    background: url(../image/mobile/image-host.jpg) no-repeat center / cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .bg-host {
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    position: absolute;
    top: 0;
}

.container .bg-dots {
    display: none;
}

/* header */
header {
    position: relative;
    z-index: 999;
}

@media screen and (min-width: 768px) {
    .container{
        background: none;
        flex-direction: row;
        max-height: 868px;
    }

    .container .bg-host {
        position: static;
        width: 65%;
        background: url(../image/tablet/image-host.jpg) no-repeat center / cover;
    }

    header {
        width: 35%;
        height: 100%;
        background-color: var(--blue-950);
        padding: 156px 44px;
    }
}

@media screen and (min-width: 768px) {
    .container .bg-dots {
        display: block;
        position: absolute;
        bottom: -55px;
        right: -128px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-height: 654px;
        margin-left: 160px;
    }

    .container .bg-host {
        background: url(../image/desktop/image-host.jpg) no-repeat center / cover;
    }

    .container .bg-dots {
        bottom: -55px;
        right: 0;
    }

    header {
        padding: 0;
    }
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 56px 0 36px 0;
    z-index: 999;
    padding: 36px;
}

main h1 {
    color: var(--green);
    margin-bottom: 16px;
}

main h1 span {
    color: var(--white);
}

main p {
    color: var(--blue-300);
}

main .logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2%;
    width: 100%;
    margin: 40px 0;
}

/* Form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

form .errorMessage {
    color: var(--red);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    display: none;
}

.invalid .input-email {
    border: 2px solid var(--red);
}

.invalid .errorMessage{
    display: block;
}

.valid .input-email {
    border: 2px solid var(--green);
}

@media screen and (min-width: 768px) {
    main {
        position: absolute;
        background-color: var(--blue-950);
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 88px 0 0 20px;
        text-align: left;
        align-items: flex-start;
    }

    main .logos {
        order: 3;
    }

    main h1, main p, main form {
        max-width: 450px;
    }

    form {
        position: relative;
        align-items: flex-start;
        margin-top: 40px;
    }

    form .button {
        position: absolute;
        right: 0;
    }

    .invalid .errorMessage {
        margin-left: 32px;
    }

    .invalid .button {
        top: 2px;
        right: 3px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 736px;
        padding: 88px 64px 0 20px;
    }

    main h1 {
        max-width: 100%;
    }

    main p, main form, main .logo {
        max-width: 448px;
    }

}